@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
.product{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Poppins;
    overflow-x: hidden;
    width: 100vw;
}
.product .product_items{
    display: flex;
    flex-direction: column;
    background-color: black;
}

.product_details{
    width: 100%;
    background-color: rgba(58, 58, 58, 1);
}
.content_product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content_product h1{
    font-size: 2.5rem;
    margin-top: 2rem;
}
.content_product button{
    background-color: rgba(19, 169, 16, 1);
    border-radius: 0.75rem;
    padding: 8px 16px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 0.8rem;
}
.hero-heading{
    font-family: "Prompt", sans-serif;
    font-weight: 800;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 1.2rem;
    background: rgb(58,180,146);
    background: linear-gradient(90deg, rgba(58,180,146,0.9417892156862745) 0%, rgba(29,253,81,1) 50%, rgba(129,252,74,1) 79%, rgba(223,252,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content_product button:hover{
    background-color: rgb(12, 108, 11);
}
.oil_image{
    margin: 1.5rem 0;
}
.service_product{

    width: 100%;
    height: 9.875rem;
    background-color: black;
    display: flex;
    gap: 2%;
    justify-content: space-around;
}
.service_product_items{
    
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.stores_product{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stores_product h1{
    font-size: 1.2rem;
    font-weight: bold;
}
.stores_product p{
    font-size: 1rem;
    color: rgba(170, 170, 170, 1);
   
}
.categories_product{
    width: 100%;
    background-color: rgba(58, 58, 58, 1);
    display: flex;
    flex-direction: column;
    
}


.main_content_product{
width: 100%;
background: linear-gradient( rgba(84, 84, 84, 0.9479) 10%, rgba(149,94,94) 20%,rgba(84, 84, 84, 0.9479) );

}
.main_content_product_items{
padding: 4%;

}
.despensary{
display: flex;
justify-content: center;
gap: 2rem;
margin-bottom: 4%;
}
.despensary h1{
font-size: 1.5rem;

}
.despensary span{
color: rgba(19, 169, 16, 1);
}
.despensary p{
font-size: 1rem;
width: 60vw;
position: relative;
right: 1.8rem;
}
.despensary h2{
margin-top: 0.5rem;
font-size: 0.8rem;
width: 40vw;
}
.heading_despensary .buttons{
margin-top: 1rem;
}
.buttons{
display: flex;
gap: 1.5rem;
}
.buttons button{
padding: 8px 12px;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
font-size: 0.9rem;
border-radius: 0.75rem;
color: rgba(19, 169, 16, 1);
font-weight: bold;
}
.buttons button:hover{
background-color: rgb(10, 99, 9);
color: white;
}
.best_product{
display: flex;
flex-direction: column;
margin: 4% 0;
}
.best_product .subheading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.best_product .subheading h1{
font-size: 1rem;
}
.best_product .subheading h2{
font-size: 2rem;
}
.product-slider{
position: relative;
bottom: 6rem;
}
.sale_items{
position: relative;
bottom: 4rem;
}
.sale_box{
display: flex;
gap: 2rem;
margin-top: 2rem;
}
.sale_box1{
display: flex;
flex-direction: column;
gap: 8rem;
}
.sale_box_items{
height: 9rem;
width: 9.125rem;
border-radius: 0.5rem;
}
.sale_box_items h1,p{
text-align: center;
}
.sale_box_items span{
color: rgba(84, 201, 55, 1);
}


@media(max-width:600px){
    .product{
        margin: 0;
        padding: 0;
        color: white;
        font-family: Poppins;
        overflow-x: hidden;
        width: 100vw;
    }
    .product .product_items{
        display: flex;
        flex-direction: column;
        background-color: black;
    }
   
    .product_details{
        width: 100%;
        background-color: rgba(58, 58, 58, 1);
    }
    .content_product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content_product h1{
        font-size: 0.875rem;
        margin-top: 0.5rem;
    }
    .content_product button{
 
        height: 1.938rem;
        background-color: rgba(19, 169, 16, 1);
        border-radius: 0.75rem;
        font-size: 0.5rem;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-top: 0.8rem;
    }
    .oil_image{
        margin-top: 1.5rem;
    }
    .service_product{
        width: 100%;
        height: 9.875rem;
        background-color: black;
        display: flex;
    }
    .service_product_items{
        margin-top: 1rem;
        display: flex;
        gap: 2rem;
    }
    .stores_product h1{
        font-size: 1rem;
        font-weight: bold;
    }
    .stores_product p{
        font-size: 0.625rem;
        color: rgba(170, 170, 170, 1);
        width: 28vw;
    }
    .categories_product{
        width: 100%;
        background-color: rgba(58, 58, 58, 1);
        display: flex;
        flex-direction: column;
        
    }
    .categories_product_items{
        margin-top: 1rem;
    }
    .categories_product .categories_product_items h1{
        font-size: 0.625rem;
    }
    .categories_product .categories_product_items p{
        font-size: 0.875rem;
        
    }
.categories_heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categories_items1{
    display: flex;
    justify-content: flex-start;
    margin-top: 1.6rem;
    margin-left: 1rem;
    gap: 1rem;
}
.categories_items2{
    display: flex;
    justify-content: flex-start;
    margin-top: 1.6rem;
    margin-left: 1rem;
    gap: 1rem;
    margin-top: 1rem;
}
.box_product{
    width: 28vw;
    height: 10vh;
    border-radius: 1rem;
    background-color: rgb(131, 131, 131);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box_product:hover{
    background-color: rgba(19, 169, 16, 1);
}
.box_product h1{
     font-size: 0.5rem;
}

.box_product button{
     width: 3.75rem;
     height: 1.509rem;
     background-color: white;
     color: black;
     font-size: 0.438rem;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 1.438rem;
}
.main_content_product{
    width: 100%;
    background: linear-gradient( rgba(84, 84, 84, 0.9479) 10%, rgba(149,94,94) 20%,rgba(84, 84, 84, 0.9479) );
   
}
.main_content_product_items{
    padding-top: 1.4rem;
    margin-left: 1rem;
}
.despensary{
    display: flex;
    gap: 1rem;
}
.despensary h1{
    font-size: 0.438rem;
    
}
.despensary span{
    color: var(--primary-color);
}
.despensary p{
    font-size: 0.8rem;
    width: 60vw;
    position: relative;
    right: 1.8rem;
}
.despensary h2{
    margin-top: 0.5rem;
    font-size: 0.5rem;
    width: 40vw;
}
.heading_despensary .buttons{
    margin-top: 1rem;
}
.buttons{
    display: flex;
    gap: 1.5rem;
}
.buttons button{
    width: 4.75rem;
    height: 1.938rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.375rem;
    border-radius: 0.75rem;
    color: var(--primary-color);
    font-weight: bold;
}
.buttons button:hover{
    background-color: var(--primary-color);
    color: white;
}
.best_product{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
.best_product .subheading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
}
.best_product .subheading h1{
    font-size: 0.438rem;
}
.best_product .subheading h2{
    font-size: 1rem;
}
.product-slider{
    position: relative;
    bottom: 6rem;
}
.sale_items{
   position: relative;
   bottom: 4rem;
}
.sale_box{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
.sale_box1{
    display: flex;
    flex-direction: column;
    gap: 8rem;
}
.sale_box_items{
    height: 9rem;
    width: 9.125rem;
    border-radius: 0.5rem;
}
.sale_box_items h1,p{
    text-align: center;
}
.sale_box_items span{
    background-color: var(--primary-color);
}
}