.product_details{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}
.product_image .image{
    margin: 4%;
    width: 80%;
    height: 80%;
    
}
.icons{
    display: flex;
    gap: 1.5rem;
}
.icons .share{
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
  
  .icons h2 {
    margin: 0;
  }

  .title_product {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .title_product h1 {
    font-size: 1.6rem;
    font-weight: bold;
  }
  
  .title_product h2 {
    font-size: 0.75rem;
    color: rgba(60, 60, 60, 1);
  }
  
  .review {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
  }
  
  .review h1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  .price {
    display: flex;
    flex-direction: column;
    margin-top: 1.6rem;
  }
  
  .price_items {
    display: flex;
    gap: 4rem;
  }
  
  .price h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-red-color);
  }
  
  .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .cart button {
    width: 7.688rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    background-color: rgba(19, 169, 16, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: bold;
    color: white;
  }
  .prod_desc{
    box-sizing: border-box;
    margin: 2% 4%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  
  }

  .prod_desc_item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
  }

  .prod_desc_item h1{
    font-size: 1rem;
    font-weight: bold;
  }
  
  .prod_desc_item p{
    text-align: left;
  }
 
  .customer_review{
    margin: 2% 4%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-top: 1rem; /* Add a margin to separate screen2 from screen1 */
  }
  .customer_review_items{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }

  .customer_review_items h1{
    font-size: 1rem;
    font-weight: bold;
  }
.avtar_user1{
    display: flex;
    gap: 1rem;
}
.user_detalis{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.name{
    display: flex;
    flex-direction: column;
}
.name h1{
    font-size: 0.75rem;
}
.name h2{
    font-weight: 400;
    font-size: 0.625rem;
}
.avtar-boys{
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
}

.buttons_review{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttons_review .box1_button{
    width: 100%;
    height: 5.7vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

.product_list_images {
  margin-top: 1.4rem;
  display: flex;
  gap: 1rem;

}

.product_list_images:hover{
  cursor: pointer;
}

@media (max-width:800px) {
  .product_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.product_image{
  display: flex;
  justify-content: center;
}

.product_info{
  margin: 5%;
}
}