.add_to_cart{
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}
.add_to_cart:hover{
    background-color:  rgb(17, 141, 15);
}